[submodule "RISCV-Matrix"]
	path = RISCV-Matrix
	url = https://github.com/kenan-erol/RISCV-Matrix.git
[submodule "ts-traversal"]
	path = ts-traversal
	url = https://github.com/kenan-erol/ts-traversal.git
